body {
	background-color: #232323;
	margin: 0;
	font-family: 'Montserrat', sans-serif;

}



.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background-color 0.6s;
	--webkit-transition: background-color 0.6s;
	--moz-transition: background-color 0.6s;
}

#container {
	margin: 20px auto;
	max-width: 600px;

}

h1 {
	text-align: center;
	letter-spacing: .2px;
	line-height: 1.5;
	color: white;
	background-color: #268a96;
	margin: 0 auto;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
	font-size: 25px;


}

#colorDisplay {
	font-size: 140%;
	font-family: 'Bowlby One', cursive;
	letter-spacing: 3px;


}

.colorDisplay {
	font-size: 160px;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 3px;
	text-transform: uppercase;
	

}



#message {
	display: inline-block;
	width: 20%;
}

#stripe {
	background: white;
	height: 50px;
	text-align: center;
	color = black;
	

}

.selected {
	color: white;
	background-color: #268a96;
}

button {
	border: none;
	background-color: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: #268a96;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	--webkit-transition: all 0.3s;
	--moz-transition: all 0.3s;
	outline: none;

}

button:hover {
	color: white;
	background-color: #268a96;
}

#linkedin {
	font-size: 70%;
	text-transform: none;
}

a {
	font-size: 70%;
}

#seer {
	color: #ca602b;
	font-size: 115%;
	text-decoration: underline;
	font-family: 'Bowlby One', cursive;
}

#clickIcon {
	color: #ca602b;
	font-size: 80%;
	letter-spacing: 8px;
	font-family: 'Bowlby One', cursive;
	
}